<!DOCTYPE html>
<head>

    <!-- <script src="https://www.gstatic.com/firebasejs/7.11.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.8/firebase-database.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>

<span style="display: none;">
    You have <span id="view_counter_text"> No </span> visitors
<input type="text" value="">
</span>


    <input id="jin" type="hidden" value="">


   




</body>

<script src="check.js" type="module"></script>

</html>